alembic==1.18.4
asyncpg==0.30.0
psycopg2-binary==2.9.12
email-validator==2.3.0
fastapi==0.115.6
google-cloud-vision
httpx==0.28.1
numpy==1.26.4
pillow==11.1.0
pydantic==2.12.4
pydantic-settings==2.11.0
pytesseract==0.3.13
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
PyMuPDF==1.24.14
redis==5.2.1
sentence-transformers==2.7.0
sqlalchemy[asyncio]==2.0.44
transformers==4.41.2
uvicorn[standard]==0.34.0
